
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/profile.css">

    <h1>profile page</h1>

    <p><%= user.name %></p>
    <p><%= user.email %></p>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/destroy-session"> Sign Out</a>
        </li>
    </ul>
