
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/sign_in.css">

    <main>
        <div>
            <h1>Log In</h1>
            <p>register yourself?
                <a href="/users/sign-up">Sign Up</a>
            </p>
        </div>
        <div class="signin">
            <form action="/users/create-session" method="post">
                <input type="email" name="email" id="" placeholder="email id" required>
                <input type="password" name="password" id="" placeholder="password" required>
                <button type="submit">Sign In</button>
            </form>
            <button>
                <a href="/users/auth/google">Sign In Using Gmail</a>
            </button>
        </div>
    </main>
