main
{
    margin: 0px;
    #container
    { 
        height: 100vh;
        width: 100vw;
        top: 20px;
        display: flex;
        flex-direction: row;
        margin: 0px;
        #sidebar
        {
            height: 100vh;
            width: 20%;
            border-right: 2px solid rgb(190, 189, 189);

            ul
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0px;

                li
                {
                    list-style: none;
                    font-size: 1.5rem;
                    padding: 0.3rem;
                    a
                    {
                        color: white;
                        text-decoration: none;
                    }
                }
                li:hover{
                    text-decoration: underline;
                }
            }

        }

        #contact-details
        {
            padding: 0.5rem;
            height: 100vh;
            width: 60%;
            border-right: 2px solid rgb(190, 189, 189);
        }
    
    }
}