.container
{
    position: absolute;
    top: 15%;
    left: 38%;
    width: 25vw;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgb(168, 166, 166), 0px 3px 20px 0px rgb(168, 166, 166);
    .signup
    {
        form
        {
            display: flex;
            flex-direction: column;

            input, button
            {
                font-size: 1.1rem;
                padding: 0.5rem;
                margin: 1rem;
                border-radius: 50px; 
            }

            button{
                // font-size: 1.5rem;
                // padding: 0.7rem;
                // margin: 1rem;
                // border-radius: 50px;
                background-color: rgb(80, 116, 223);
                color: white;
            }
            button:hover
            {
                background-color: rgb(32, 82, 235);
            }

        }
    }

    .or
    {
        margin: -2px;
    }
    .social-container
    {
        margin: 0.5rem;
        .social
        {
            font-size: 1.1rem;
            padding: 0.5rem;
            border-radius: 50px;
            width: 95%;
            margin: 1rem 0rem;
            background-color: rgb(242, 63, 63);
            a
            {
                text-decoration: none;
                color:white;
            }
        }

        .social:hover{
            background-color: red;
        }
    }
    .signIn
    {
        a{
            text-decoration: none;
            color: white;
        }
    }
    .signIn:hover
    {
        text-decoration: underline;
    }
}