#nav-bar {
  margin: 0px;
}

#nav-bar .container {
  width: 100vw;
  top: 20px;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#nav-bar .container #sidebar {
  width: 20%;
  border-right: 2px solid #bebdbd;
}

#nav-bar .container #sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
}

#nav-bar .container #sidebar ul li {
  list-style: none;
  font-size: 1.5rem;
  padding: 0.3rem;
}

#nav-bar .container #sidebar ul li a {
  color: white;
  text-decoration: none;
}

#nav-bar .container #sidebar ul li:hover {
  text-decoration: underline;
}

#nav-bar .container #homepage-content {
  width: 60%;
  border-right: 2px solid #bebdbd;
}
