.container {
  position: absolute;
  top: 15%;
  left: 38%;
  width: 25vw;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 3px 5px 0px #a8a6a6, 0px 3px 20px 0px #a8a6a6;
}

.container .signup form {
  display: flex;
  flex-direction: column;
}

.container .signup form input, .container .signup form button {
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50px;
}

.container .signup form button {
  background-color: #5074df;
  color: white;
}

.container .signup form button:hover {
  background-color: #2052eb;
}

.container .or {
  margin: -2px;
}

.container .social-container {
  margin: 0.5rem;
}

.container .social-container .social {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 50px;
  width: 95%;
  margin: 1rem 0rem;
  background-color: #f23f3f;
}

.container .social-container .social a {
  text-decoration: none;
  color: white;
}

.container .social-container .social:hover {
  background-color: red;
}

.container .signIn a {
  text-decoration: none;
  color: white;
}

.container .signIn:hover {
  text-decoration: underline;
}
